@{
    ViewData["Title"] = "Login Page";
}

<div class="form-container ">
  <h4>Login Form</h4>
  <form method="post" action="/user/login">
  <div class="mb-3 mt-3">
   
    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
  </div>
  <div class="mb-3">
    
    <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
  </div>
  <div class="form-check mb-3">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" name="remember"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Sign In</button>
  <a href="/user/signup">Sign Up</a>
</form>
</div>